img[alt="logo"]{
    height: 90px;
    float: right;
}
.calculadora {
    width: 35%;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    text-align: center;
    justify-items: center;
    justify-content: stretch;
    font-size: 25px;
    gap:0px;
    background-color: rgb(138, 117, 85);
    box-shadow: 0px 0px 17px 25px rgba(201, 50, 50, 0.3);
}

.calculadora > div{
    width: 100%;
    border: 1px solid black;
}

.celdatodo{
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 4;
    justify-items: end;
    text-align: end;
    background-color: rgba(170, 169, 166, 0.562);
}

.botones {
    width: 50%;
    text-align: center;
}

.boton {
    /* Para que los bloques no ocupen todo el ancho. */
    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;
    /* Usamos la fuente cargada de google fonts. */
    background-color: #c5bbbb8f;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    width: 20%;
}