@font-face {
    font-family: 'fuenteskyrim';
    src: url("../fuentes/skyrim.ttf");
}

@font-face {
    font-family: 'godofwar';
    src: url("../fuentes/GODOFWAR.TTF");
}

body {
    background: url("../img/fondos/idex.jpg");
    background-size: cover;
}

img[alt="logo"]{
    height: 90px;
    float: right;
}

h1 {
    font-size: 80px;
    text-align: center;
    color: azure;
    font-family: 'fuenteskyrim';
}

.seleccion{
    display: inline;
    background-color: rgba(255, 255, 255, 0.548);
    
}

.seleccion > ul > li{
    font-size: 45px;
    list-style: "▷";
    color: rgb(19, 104, 69);
}

a {
    color: rgb(59, 189, 128);
    font-style: italic;
    text-decoration: none;
}

a:hover{
    font-size: 65px;
  }

h2 {
    font-size: 60px;
    text-align: left;
    color: azure;
    font-family: 'godofwar';
}