body {
  background: url("fotos/fondo.jpg");
  background-size: cover;
  color: #fff;
  font-family: 'Arial', sans-serif;
}

.tablero{
  display: grid;
  grid-template-columns: 25% auto;
  align-content: center;
  justify-items: center;
  align-items: center;
  justify-content: center;
}

img[alt="logo"]{
  height: 100px;
  float: left;
}

img[alt="cartas"]{
  height: 150px;
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin-top: 2rem;
}

button {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  background-color: #252525;
  color: #fff;
  border: solid white 1px;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #515151;
}

#jugador, #croupier {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Puntos-J, #Puntos-C {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#resultado {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: solid;
  font-size: 45px;
  color: rgb(255, 0, 0);
  grid-row-start: span 4;
  align-self: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.menu-apuesta {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: auto auto auto auto;
  background-color: rgba(128, 128, 128, 0.61);
  border: 3px solid rgb(255, 255, 255);
}

.menu-apuesta > img{
  width: 85%;
}

.limpiar{
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  grid-column-start: span 4;
}

.anuncio{
  width: 100%;
  grid-column-start: span 4;
}

.partida{
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: auto auto;
  grid-template-rows: 7.5% auto 7.5% auto;
  background-color: #000000;
}

.botones{
  grid-column-start: span 2;
  width: 100%;
}