body {
  background: url("fotos/fondo.jpg");
  background-size: cover;
  color: #fff;
  font-family: 'Arial', sans-serif;
}

img[alt="logo"]{
  height: 5%;
  float: right;
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin-top: 2rem;
}

button {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  background-color: #252525;
  color: #fff;
  border: solid white 1px;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #515151;
}

#jugador, #dealer {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Puntos-J, #Puntos-D {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#resultado {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: solid;
  font-size: 20px;
  color: goldenrod;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

img {
  width: 130px;
  margin-right: 25px;
}

.img-dealer {
  width: 150px;
  margin-right: 25px;
  margin-bottom: 100px;
}

.Normas {
  width: 25%;
  height: 600px;
  background-color: rgba(128, 128, 128, 0.61);
  padding: 10px;
  overflow: auto;
  border: 3px solid rgb(255, 255, 255);
  font-size: 16px;
  margin-right: 25px;
  position: fixed;
  right: 10px;
}

.menu-apuesta {
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 25%;
  background-color: rgba(128, 128, 128, 0.61);
  padding: 10px;
  border: 3px solid rgb(255, 255, 255);
  font-size: 16px;
  margin-right: 25px;
  position: fixed;
  left: 10px;
}

.menu-apuesta > img{
  width: 85%;
}

.boton-allin{
  width: 100%;
  font-size: 14px;
  background-color: rgb(153, 35, 35);
  
}
.limpiar{
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  grid-column-start: span 4;
}
.anuncio{
  width: 100%;
  grid-column-start: span 4;
}