img[alt="logo"]{
    height: 90px;
    float: right;
}

table {
    margin: auto;
    width: 35%;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    font-size: 25px;
    text-align: center;
}

.botones, .seleccion {
    margin: auto;
    width: 50%;
    text-align: center;
}

.boton {
    /* Para que los bloques no ocupen todo el ancho. */
    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;
    /* Usamos la fuente cargada de google fonts. */
    background-color: #c5bbbb8f;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    width: 20%;
}